#sidebar 
    width size-sidebar-width
    position absolute
    
#accordion-menu
    background-color color-secondary-background
    color color-secondary-foreground
    
    h3
        background-color color-secondary-background
        color color-secondary-foreground
        
    div
        background-color color-secondary-background
        color color-secondary-foreground
        
