section(id="sidebar")
    div(id="accordion-menu")
        each category_info, chart_category in public._data.charts
            div
                p=category_info.icon

            if Array(category_info.charts).length > 0
                h3!=chart_category+" (" + Array(category_info.charts).length + ")"
                each chart_name in Array(category_info.charts)
                    button(class="chart_selector" data-chart-name=chart_name)!=chart_name

section(id="chart-container")
