doctype
html
    head
        title Hello

        script(src="/static/js/libs/jquery/jquery-2.2.0.js")
        script(src="/static/js/libs/jquery-ui/jquery-ui.js")
        script(src="/static/js/libs/d3/d3.js")
        script(src="/static/js/main.js")

        link(href="/static/css/libs/jquery-ui/jquery-ui.css" rel="stylesheet")
        link(href="/static/css/libs/jquery-ui/jquery-ui.structure.css" rel="stylesheet")
        link(href="/static/css/main.css" rel="stylesheet")
    body
        h1 Hello World
